<div class="container">
    <div class="footer__inner">
        <div class="footer__row">
            <div class="footer__col">
                <!-- logo -->
                <a href="./" class="logo footer__logo">
                    <img src="./assets/icons/logo.svg" alt="grocerymart" class="logo__img" />
                    <h1 class="logo__title footer-logo__title">grocerymart</h1>
                </a>
                <!-- content -->
                <p class="footer__desc">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, maxime et veniam eligendi rem
                    voluptatibus.
                </p>
                <p class="footer__desc">Receive product news and updates.</p>
                <!-- input email -->
                <form class="footer__form">
                    <input type="email" required name="" id="" class="footer__form--text" placeholder="Email address" />
                    <button class="btn btn--primary footer__btn">SEND</button>
                </form>
            </div>
            <div class="footer__col">
                <h2 class="footer__heading">shop</h2>
                <ul class="footer--group">
                    <li class="footer--group---item">
                        <a href="#!" class="footer--group--link">All Departments</a>
                    </li>
                    <li class="footer--group--item">
                        <a href="#!" class="footer--group--link">Fashion Deals</a>
                    </li>
                    <li class="footer--group--item">
                        <a href="#!" class="footer--group--link">Electronics Discounts</a>
                    </li>
                    <li class="footer--group--item">
                        <a href="#!" class="footer--group--link">Home & Living Specials</a>
                    </li>
                    <li class="footer--group--item">
                        <a href="#!" class="footer--group--link">Beauty Bargains</a>
                    </li>
                </ul>
            </div>
            <div class="footer__col">
                <h2 class="footer__heading">support</h2>
                <ul class="footer--group">
                    <li class="footer--group--item">
                        <a href="#!" class="footer--group--link">Store locator</a>
                    </li>
                    <li class="footer--group--item">
                        <a href="#!" class="footer--group--link">Order status</a>
                    </li>
                </ul>
            </div>
            <div class="footer__col">
                <h2 class="footer__heading">company</h2>
                <ul class="footer--group">
                    <li class="footer--group--item">
                        <a href="#!" class="footer--group--link">Customer Service</a>
                    </li>
                    <li class="footer--group--item">
                        <a href="#!" class="footer--group--link">Terms of Use</a>
                    </li>
                    <li class="footer--group--item">
                        <a href="#!" class="footer--group--link">Privacy</a>
                    </li>
                    <li class="footer--group--item">
                        <a href="#!" class="footer--group--link">Careers</a>
                    </li>
                    <li class="footer--group--item">
                        <a href="#!" class="footer--group--link">About</a>
                    </li>
                    <li class="footer--group--item">
                        <a href="#!" class="footer--group--link">Affiliates</a>
                    </li>
                </ul>
            </div>
            <div class="footer__col">
                <h2 class="footer__heading">contact</h2>
                <ul class="footer__group">
                    <li>
                        <p class="footer__label">Email</p>
                        <a class="footer--group--link" href="mailto:hvk1836388@gmail.com">hvk1836388@gmail.com</a>
                    </li>
                    <li>
                        <p class="footer__label">Hotline</p>
                        <a class="footer--group--link" href="tel:123456789">123456789</a>
                    </li>
                    <li>
                        <p class="footer__label">Address</p>
                        <p class="footer__info">
                            No. 11D, Lot A10, Nam Trung Yen urban area, Yen Hoa Ward, Cau Giay District, City. Hanoi
                        </p>
                    </li>
                    <li>
                        <p class="footer__label">Hours</p>
                        <p class="footer__info">M - F 08:00am - 06:00pm</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer__botom">
            <p class="footer__copyright">© 2010 - 2025 Grocery Mart. All rights reserved.</p>
            <div class="footer__icon">
                <a href="#!" class="footer__icon--link footer__icon--link-facebook"
                    ><img src="./assets/icons/facebook.svg" alt="" class="footer__icon--item"
                /></a>
                <a href="#!" class="footer__icon--link footer__icon--link-youtube"
                    ><img src="./assets/icons/youtube.svg" alt="" class="footer__icon--item"
                /></a>
                <a href="#!" class="footer__icon--link footer__icon--link-tiktok"
                    ><img src="./assets/icons/tiktok.svg" alt="" class="footer__icon--item"
                /></a>
                <a href="#!" class="footer__icon--link footer__icon--link-twitter"
                    ><img src="./assets/icons/twitter.svg" alt="" class="footer__icon--item"
                /></a>
                <a href="#!" class="footer__icon--link footer__icon--link-in"
                    ><img src="./assets/icons/linkedin.svg" alt="" class="footer__icon--item"
                /></a>
            </div>
        </div>
    </div>
</div>
